.menu{
  display: flex;
  height: 30%;
  min-height: 50px;
  background-color: var(--menuHeader);
  align-items: center;
  justify-content: space-between;


}

.menu_status{

  font-size: 22px;
  margin-left: 3.5vw;
  color: var(--headerFoter);
  border-radius: 5px;
  font-weight: 500;
  width: 22%;
  height: 90%;
  display: flex;
  gap: 1.5vh;
  align-items: center;

}
.menu_status:hover{

  color: var(--shadowText);

}
.menu_tittle{

  margin-right: 2vw;
  color: var(--headerFoter);
  border-radius: 5px;
  font-weight: 500;
  width: 22%;
  height: 90%;
  display: flex;
  gap: 1.5vh;
  align-items: center;
  justify-content: center;
  
}

.box_menu_tittle{
  min-height: 20px;
  min-height: 20px;
  width: 3vh;
  height: 3vh;
  background-color: aliceblue;
  box-shadow: 1px 6px 6px #3348b03f;
}

.tittle_list_student{

  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--headerFoter);
  font-size: 35px;
  font-weight: 600;
  margin-top: 2.5vh;


}

.box_status{

  width:30%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}
.option_status{

  position: absolute;
  margin-top: -3.3vh;
  margin-left: 190px;
  width: 20vh;
  height: 15vh;
  max-height: fit-content;
  background-color: var(--headerFoter);
  border-radius: 3px;
  color: var(--popColor);
 
}

.option_status_year{

  position: absolute;
  margin-top: -3.3vh;
  margin-left: 500px;
  width: 20vh;

  height: 15vh;
  background-color: var(--headerFoter);
  border-radius: 3px;
  color: var(--popColor);
}

.option_element_status{

  background-color: transparent;
  color: var(--popColor);
  width: 100%;
  height: 33%;
  border: none;
  font-size: 18px;
}


.option_element_status:hover{
  background-color: var(--shadowText);
}
.overal_content_list_student {

  width: 100%;
  height: fit-content;
  min-height: 58vh;
  display: flex;
  justify-content: center;
 
}

.all_students {
  margin: 3vh;
  padding: 3vh;
  width: 82rem;
  height: fit-content;
  display: flex;
  overflow: auto;
  row-gap: 18px;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 60px;

}
#student_card_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  height: 300px;
  background-color: var(--headerFoter);
  border-style: none;
  color: var(--backgorundColor);
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 15px 12px 12px #3348b03f;

}

#all_students :hover {

  transition: all 0.3s;
  color: var(--popColor);

}

.student_card_Name{
  width: 98%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.student_card_img{
  width: 100%;
}

@media (max-width: 640px) {
  .menu {
    display: flex;
    height: fit-content;
    align-items: start;
    justify-content: space-around;
  }

  .menu_left {
    display: grid;
    height: auto;
    align-items: normal;
    width: fit-content;
  }

  /* menu - STATUS */
  .select__status {
    display: flex;
    align-items: flex-start;
    justify-self: center;
    background-color: transparent;
  }

  /* menu - YEAR */
  .menu-year {
    display: grid;
    width: fit-content;
    height: auto;
    background-color: transparent;
  }

  /* menu RIGHT */
  .menu-right {
    display: grid;
    align-items: flex-start;
    justify-content: left;
    gap: 10px;
  }
  .subtitle__menu {
    width: auto;
    display: flex;
    justify-content: start;
  }

  .overal_content_list_student {
    width: auto;
    height: fit-content;
    /* min-height: 78vh; */
    display: flex;
    justify-content: center;

  }
  .all_students {
    margin: 40px;
    padding: 30px;
    align-items: center;
    width: auto;
    height: fit-content;
    display: flex;
    overflow: auto;
    row-gap: 18px;
    flex-wrap: wrap;
    /* grid-template-columns: 1fr; */
    justify-content: center;
    gap: 60px;
    /* flex-direction: column; */
  }
  #student_card_list {
    display: grid;
    width: 200px;
    height: 300px;
    align-items: center;
    justify-content: center;
    background-color: var(--headerFoter);
    border-style: none;
    color: var(--popColor);
    align-items: center;
    justify-content: center;
    border-radius: 5px;
  }
  .student_card_list_name {
    /* height: 20%;
    width: 100%;
    left: 0; */
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 18px;
  }
}
